body {
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");    color:black;
    display: flex;
    justify-content: center;
    button {
        border:none;
        width: 30px;
        height: 30px;
        border-radius: 80px;
        background-color: darkred;
        color:white;
        
    }
}